<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="BrandMuscleAutomation" connectionString="Server=bmi-azdb001.database.windows.net;Database=brandmuscleautomation;Uid=brandmuscle;Pwd=N0tS3arstower" providerName="System.Data.SqlClient" />
   <add name="MongoDB" connectionString="mongodb://qa01-mongodb01:tKPCapXVUtTupAymxYvLUAeXRbZtt96Btyy8qONES7WxcQ1brBiqqe3SL14XX5twDGdwK1xNCS0G5n81s38VtA==@qa01-mongodb01.documents.azure.com:10255/?ssl=true" />

   <!--<add name="MongoDB" connectionString="mongodb://cfmuser:3z3ZFhgh1rgCqRLIsgrb53ZnYezbAHn@13.67.139.232:27017/Admin?maxIdleTimeMS=180000" />-->
    <!--<add name="MongoDB" connectionString="mongodb://qa01-mongodb01:tKPCapXVUtTupAymxYvLUAeXRbZtt96Btyy8qONES7WxcQ1brBiqqe3SL14XX5twDGdwK1xNCS0G5n81s38VtA==@qa01-mongodb01.documents.azure.com:10255/ChannelBuilderQaDev?maxIdleTimeMS=180000" />
-->
    <!--<add name="MongoDBConnection" connectionString="mongodb://cfmuser:3z3ZFhgh1rgCqRLIsgrb53ZnYezbAHn@13.67.139.232:27017/ChannelBuilder"/>-->
  </connectionStrings>
  <appSettings>
    <add key="MongoDbKey" value="ChannelBuilderQaDev" />
    <add key="Environment" value="QA" />
    <add key="Client" value="ACE" />
    <add key="BrowserPreferred" value="Chrome" />
    <!--<add key="Environment" value="PROD" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

	  <!--<Campaign Manager" />-->

	  <add key="ProductName" value="Productreview" />
	  <add key="Dropdownlist" value="ai" />
	  <add key="JIRAClientImpactedID" value="JiraReview" />
	  <add key="JIRAClientImpactedName" value="Jiraclientreview" />
	  <add key="JIRAClientTenantselection" value="Al" />
	  <add key="PlatformName" value="reviewPlatformName" />
	  <add key="PlatformDescription" value="reviewPlatformDescription" />
	  <add key="NetSuiteID" value="NetSuite123" />
	  <add key="SubPlatformName" value="ReviewSubPlatform" />
	  <add key="SubPlatformDescription" value="reviewSubPlatformDescription" />
	  <add key="SubTacticName" value="reviewAutoSubTacticName" />
	  <add key="SubTacticDescription" value="reviewSubTacticDescription" />
	  <add key="TacticName" value="reviewTacticName" />
	  <add key="TacticDescription" value="reviewTacticDescription" />
	  <add key="TacticTypeSelection" value="Auto" />
	  <add key="TacticMarketingTypeSelection" value="Auto" />
	  <add key="TacticTypeName" value="reviewTacticTypes" />
	  <add key="ProgramName" value="reviewProgramName" />
	  <add key="ProgramDescription" value="reviewProgramDescription" />
	  <add key="TenantName" value="Al" />
	  <add key="ProgramType" value="Au" />
	  <add key="ProgramTypeName" value="reviewProgramType" />
	  <add key="TenantProgramType" value="Air" />
	  <add key="TacticMarketingTypeName" value="reviewTacticMarketing" />
	  <add key="EventCode" value="reviewEvent" />
	  <add key="Label" value="reviewEventLabel" />
	  <add key="Category" value="reviewEventCategory" />
	  <add key="PackageTypeName" value="reviewPackageType" />
	  <add key="JIRATenantAgentID" value="reviewJIRATenantAgentID" />
	  <add key="JIRATenantCompanyName" value="JIRATenantAgentName" />
	  <add key="JIRATenantConfigSelection" value="Ad" />
	  <add key="MediaMappingName" value="MediaMapping" />
	  <add key="PilotOutcome" value="PilotOutcome" />
	  <add key="Platformselection" value="Gr" />
	  <add key="SubPlatformselection" value="Si" />
	  <add key="Tacticselection" value="Ev" />
	  <add key="SubTacticselection" value="DO" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>